:root {
  --blue-top: #062F4F;
  --blue-bottom: #0B548D;
}

// .home {
//   padding-bottom: 3vh;
//   border-radius: 1vh;
//   padding-left: 5vh;
//   h1 {
//     background-color: var(--blue-top);
//     padding-top: 1vh;
//     padding-bottom: 1vh;
//     border-top-left-radius: 1vh;
//     border-top-right-radius: 1vh;
//   }
//   background-color: var(--blue-bottom);
// }

.home {
  padding-left: 1vh;
  color: white;
  button {
    color: inherit;
    background-color: black;
    border: 3px solid white;
    border-radius: 1vh;
    padding: 1vh 1vh 1vh 1vh;
    font-size: medium;
    letter-spacing: 0.15vh;
  }
  button:hover {
    background-color: rgb(70, 70, 70);
  }
  font-weight: 100;
}

.body {
  padding-left: 2vh;
}

.space {
  padding-bottom: 3vh;
}