:root {
  --blue-top: #062F4F;
  --blue-bottom: #0B548D;
}

.home {
  width: 85%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5pt;
  padding-left: 3vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  color: black;
  button {
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 1vh;
    padding: 1vh;
    font-size: medium;
    letter-spacing: 0.15vh;
  }
  button:hover {
    background-color: rgb(70, 70, 70);
  }
  font-weight: 100;
}

.author {
  padding-left: 30px;
}

.body {
  padding-left: 2vh;
}

.space {
  padding: 2vh;
}