.padding {
  padding: 30%;
}

.redirect-button {
  padding: 15px;
  border: none;
  background-color: white;
  a {
    text-decoration: none;
    color: black;
  }
}

.error-page {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  h1 {
    align-self: center;
  }

  border: 3px solid white;
}