// color values that are to be used with the site
:root {
  --main-background: #000000;
  --blue: #74B4EE;
}

body {
  background-color: var(--main-background);
  font-family: 'Poppins', sans-serif;
  display: block;
  padding-left: 1rem;
  font-weight: 300;
}

@import "./header";
@import "./home";
@import "./about";
@import "./contact";
@import "./lang";