// color values that are to be used with the site
:root {
  --main-background: #E4ECFF;
  --main-text-color: #27007F;
  --div-background: #035096;
}

body {
  background-color: var(--main-background);
  font-family: 'Poppins', sans-serif;
  display: block;
  color: var(--main-text-color);
  font-weight: 300;
  margin: 0px;
  // padding: 0px;
}

@import "./header";
@import "./home";
@import "./about";
@import "./contact";
@import "./lang";
@import "./mover";
@import "./redirect";
@import "./cardSearcher";
